{{#ui-section name="header" padding="md"}}
  <div class="container">
    <h1 class="font-header">{{example.title}}</h1>
    <div class="row">
      <div class="col xs12 md10 lg8 l6">
        {{markdown-content
          (get-markdown-content 'snippets' 'documentation/examples/templates/pinned-items/intro')
          extensions="prettify"}}
      </div>
    </div>
  </div>
{{/ui-section}}

{{#ui-section bg="lt-gray" padding=(hash top="md" bottom="md") class="prettyprint-white"}}
  <div class="container">

    <div class="row">
      <div class="col xs12 md10 lg8 l6">
        {{markdown-content
          (get-markdown-content 'snippets' 'documentation/examples/templates/pinned-items/scroll-to-top')
          extensions="prettify"}}
      </div>
    </div>

    <hr /><br /><br />

    {{#scrollmagic-pinned triggerHook="onEnter" offset="50px" pinOptions=(hash spacerClass='scroll-top-pin-spacer')}}
      <div class="row center-xs">
        {{#ui-button click=(action interactivity.pinned-items.scrollToTop)
                     bg="blue-dk" bgHover="blue" color="white" padding="sm" inline=true }}
          Top!
        {{/ui-button}}
      </div>
    {{/scrollmagic-pinned}}

    <br /><br /><hr />

  </div>

{{/ui-section}}

{{#ui-section padding=(hash top='md' bottom="md")}}
  <div class="container">

    <div class="row">
      <div class="col xs12 md10 lg8 l6">
        {{markdown-content
          (get-markdown-content 'snippets' 'documentation/examples/templates/pinned-items/navbar')
          extensions="prettify"}}
      </div>
    </div>

    <br /><br /><br /><br />

    {{#scrollmagic-pinned duration=900 class="pin-navigation"}}
      <div class="pinned-nav">
        <ul class="row center-xs">
          <li>
            <b>Sticky Nav!</b>
          </li>
          <li>
            Item 1
          </li>
          <li>
            Item 2
          </li>
          <li>
            Item 3
          </li>
        </ul>
      </div>
    {{/scrollmagic-pinned}}

    <article class="color-lt-gray">
      <br /><br /><br /><br /><br /><br /><br /><br /><br />
      <h1 class="font-header">Content goes underneath!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sic enim censent, oportunitatis esse beate vivere. Paulum, cum regem Persem captum adduceret, eodem flumine invectio? Idemne, quod iucunde? Duo Reges: constructio interrete. Invidiosum nomen est, infame, suspectum. Quae quo sunt excelsiores, eo dant clariora indicia naturae. Quae contraria sunt his, malane? Isto modo, ne si avia quidem eius nata non esset. Quae diligentissime contra Aristonem dicuntur a Chryippo.
      </p>
      <p>
        Quid est, quod ab ea absolvi et perfici debeat? Itaque hic ipse iam pridem est reiectus; Sed non alienum est, quo facilius vis verbi intellegatur, rationem huius verbi faciendi Zenonis exponere. Hoc non est positum in nostra actione. Duo Reges: constructio interrete. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis. Qui ita affectus, beatum esse numquam probabis; Aliter enim explicari, quod quaeritur, non potest. Prave, nequiter, turpiter cenabat; Huius ego nunc auctoritatem sequens idem faciam.
      </p>
      <p>
        At, illa, ut vobis placet, partem quandam tuetur, reliquam deserit. Et homini, qui ceteris animantibus plurimum praestat, praecipue a natura nihil datum esse dicemus? Duo Reges: constructio interrete. Qui igitur convenit ab alia voluptate dicere naturam proficisci, in alia summum bonum ponere? Si mala non sunt, iacet omnis ratio Peripateticorum.
      </p>
      <p>
        Si longus, levis. Quamquam id quidem, infinitum est in hac urbe; Aliter enim explicari, quod quaeritur, non potest. Duo Reges: constructio interrete. Non enim iam stirpis bonum quaeret, sed animalis.
      </p>
      <p>
        Dolere malum est: in crucem qui agitur, beatus esse non potest. Qui non moveatur et offensione turpitudinis et comprobatione honestatis? Ergo ita: non posse honeste vivi, nisi honeste vivatur? Nam Pyrrho, Aristo, Erillus iam diu abiecti. Isto modo, ne si avia quidem eius nata non esset. Quae diligentissime contra Aristonem dicuntur a Chryippo. Duo Reges: constructio interrete. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis.
      </p>
    </article>
  </div>
{{/ui-section}}

{{#ui-section bg="lt-gray" padding=(hash top="md" bottom=false) class="prettyprint-white"}}
  <div class="container">

    <div class="row">
      <div class="col xs12 md10 lg8 l6">
        {{markdown-content
          (get-markdown-content 'snippets' 'documentation/examples/templates/pinned-items/fullscreen-section')
          extensions="prettify"}}
      </div>
    </div>

  </div>

  <br />
  <br />
  <br />
  <br />
  <br />

  {{#scrollmagic-pinned duration='125%' pinOptions=(hash pushFollowers=true)}}
    {{#ui-panel name="pin-pushfollowers" bg="blue" color="white" rounded=false}}
      <div>
        <h3 class="font-header">I'm coming with you!</h3>
      </div>
    {{/ui-panel}}
  {{/scrollmagic-pinned}}
{{/ui-section}}
